.carousel {
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: left;
    overflow: hidden;
}

.carousel .carousel-images {
    display: flex;
    transition: all 1s;
    left: 0;
    width: 100%;
    height: var(--cHeight);
    position: absolute;
    justify-content: space-between;
}

.carousel .img {
    display: block;
    width: 100%;
    height: var(--cHeight);
    transition: all .5s;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.carousel .img img {
    width: 100%;
    object-fit: contain;
}

.carousel .slider-text {
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translateY(-50%);
}

.carousel .slider-text h2 {
    font-size: 50px;
    font-weight: 500;
    transform: rotate(90deg);
    opacity: 0;
    transition: 1s all;
}

.carousel .slider-text p {
    font-size: 30px;
    font-weight: 500;
    transform: rotate(-90deg);
    opacity: 0;
    transition: 1s all;
}

.slider-btn-shop {
    padding: 10px 40px;
    border-radius: 50px;
    background-color: #4c98ea;
    color: white;
    opacity: 0;
    transition: 1s all;
}

.active-text {
    opacity: 1 !important;
    transform: rotate(0deg) !important;
}

.carousel button {
    font-size: 25px;
    background: none;
    border: none;
    cursor: pointer;
    color: rgb(108, 108, 108);
    border-radius: 5px;
    transition: all .2s;
    z-index: 1;
    opacity: 0;
}

.carousel button:hover {
    color: #4c98ea;
}

.carousel .buttons {
    display: flex;
    position: absolute;
    width: 100%;
    padding: 20px;
    justify-content: space-between;
}

.carousel:hover .prev-button,
.carousel:hover .next-button {
    opacity: 1;
}


.carousel-images .img{
    width: 19%;
    
}